<%= form_with(model: task, local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h4> <%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h4>
      <% task.errors.full_messages.each do |message| %>
      <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        #{message}
      </div>
      <% end %>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, class: "form-control" %>
  </div> <br />

  <div class="field custom-control custom-checkbox">
    <%= form.check_box :done, class: "custom-control-input form-control" %>
    <%= form.label :done, class: "custom-control-label" %>
  </div> <br />

  <div class="actions">
    <%= form.submit "Save task", class: "btn btn-primary" %>
  </div> <br />
<% end %>
