<div class="card">
  <div class="card-body">
    <h4 class="card-title text-center"><%=current_user.name%>'s tasks</h4>

    <table class="table table-hover">
      <tbody>
        <% @tasks.each do |task| %>
          <tr class="task">
            <td><%= task.done %></td>
            <td><%= task.description %></td>
            <td><%= link_to 'Edit', edit_task_path(task) %></td>
          </tr>
        <% end %>
        <tr>
          <td colspan="3"><%= link_to 'New Task', new_task_path %></td>
        </tr>
      </tbody>
    </table>

  </div>

</div>
