<!DOCTYPE html>
<html>
  <head>
    <title>Just do it!</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>
  <body>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">

      <h5 class="my-0 mr-md-auto font-weight-normal">Just do it!</h5>

      <% if user_signed_in? %>
        <nav class="my-2 my-md-0 mr-md-3">
          <%= link_to("Edit registration", edit_user_registration_path, class: 'p-2 text-dark') %>
          <%= link_to("Logout", destroy_user_session_path, method: :delete, class: "p-2 text-dark") %>
        </nav>

        <%= link_to 'New task', new_task_path, class: 'btn btn-outline-primary' %>
      <% end %>
    </div>

    <main role="main" class="container">
      <%= yield %>

      <% flash.each do |name, msg| %>
        <div class="alert alert-light">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <%= msg %>
        </div>
      <% end %>

    </main>

  </body>
</html>
